@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
    /*background: url("../img/dentist-stock-sm.jpeg") no-repeat fixed center;*/
    /*background-size: cover;*/
    font-family: 'Josefin Sans', sans-serif;
}

/*---------------------------Header Start---------------------------*/


/************** Navigation *************/

/*Brand Logo Sizing*/
.brand-logo {
    /*TODO make a custom mdeia query to handle margins*/
    /*margin-left: 100px;*/
    max-width: 75px;
}

.navbar-text {
    margin-top: 20px;
}

/*Pushes navbar-right links left to make them more noticeable*/
.navbar li {
    margin-right: 50px;
}
/*---------------------------Header End---------------------------*/


/*---------------------------Main Start---------------------------*/

/************** ABOUT *************/
main {
    margin-top: 75px;
}

.acs-smiles {
    max-width: 250px;
}

/*TODO find a better seperator of sections for XS*/
/*Placeholder color and solution until I find something better*/
hr {
    border-color: #1a3454;
    border-top-width: 10px;
}

/************** SERVICES *************/

.service-img {
    margin-top: 10px;
}

/************** Scheduling *************/
label {
    margin-top: 10px;
}

/************** Staff *************/
.staff-pic {
    margin-top: 20px

}

.img-thumbnail {
    margin: 5px;
}
/*---------------------------Main End---------------------------*/
