.header-container {
    display: flex;
    border: 2px solid red;
    justify-content: flex-start;
}
.nav-logo-box {
    flex-basis: 250px;
}

.nav-logo {
    width: 100%;
}

.navigation-box {
    
    border: 1px solid blue;
    list-style: none;
    padding: 0;
    margin-right: 25px;
}
.navigation-item {
    display: inline;
    margin-right: 25px;
}